@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-family: 'Poppins', Inter, system-ui, sans-serif;
    font-size: 1rem;
  }

  h1,
  h2,
  h3 {
    font-family: 'DM Sans', Inter, system-ui, sans-serif;
  }
}
